@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

 
}
.logo img{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 4px;
}

.page-1 {
    background-image: url(/assets/bg-im1.svg);

  
    background-repeat: no-repeat;
    object-fit: cover;
margin-top: 80px;
z-index: 4;
    display: flex;      
    flex-direction: column;
    
}
.new-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    
}

.header-1 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0px;
    margin: 30px 75px;
}

.nav-bar ul {
    display: flex;
    margin-right: 20px;
}

.nav-bar ul {
    list-style: none;
    gap: 21px;

}

.nav-bar ul li a {
color: black;
    text-decoration: none;
}

#nav-btn {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 40px;
    line-height: 40px;
}
#link:hover{
    color: blue;

}
.page-1{
    height: 600px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 58px;
}

section {
    height: 100%;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 24px;
 
    padding: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
}

.btns a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 28px;
    margin: 7px;
}

.btns .btn-1 {
    background-color: #FFA62B;
    color: #ffffff;

}

.btns .btn-2 {
    border: 2px solid black;
    color: black;
}


.btns .btn-1:hover {
    border: 2px solid black;
    padding: 9px 19px;
    color: black;
    background-color: transparent;
}

.btns .btn-2:hover {
    background-color: #FFA62B;
    color: #ffffff;
    padding: 11px 21px;
    border: none;

}

.text-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 212px 290px; */
}

.text-2 h2 {
    margin-top: 50px;
    font-size: 40px;

}

.text-2 p {
    font-size: 14px;
    text-align: center ;

}

.page-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252B42;
    color: white;
}


.card {
    width: 340px;
    height: 270px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 15px;
    border-radius: 7px;
    text-align: justify;
    background-color: black;
    color: white;
    border-top: 10px solid transparent;
}

.card:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.07);
   border-top: 10px solid white;
}

.cards {
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card h4 {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    

}
.card-img{
    width: 53px;
    
}


.card p {
    font-size: 14px;
    text-align: start;

}

.card-head {
    display: flex;
    align-items: center;
    gap: 0px;
}

#box {
    background-color: transparent;
    color: white;
}

.text-2 p{
    margin: 10px;
}



.page-3 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252B42;
    color: white;

}


.text-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-3 h2 {
    font-size: 40px;

}

.text-3 p {
    font-size: 14px;
}



.card-img-2 {
    width: 100px;
}

.client-box {
    display: flex;
    gap: 20px;
}

.client-box-text h4 {
    color: #FFA62B;
}




.page-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252B42;
    color: white;
}

    
    


.text-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-4 h2 {
    font-size: 40px;

}

.text-4 p {
    font-size: 14px;
}


.card-4 {
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    border-radius: 7px;
    text-align: justify;
    background-color: #ffffff;
    color: black;
}

.card-4:hover {
    transition: all ease-in-out 0.3s;
    transform: scale(1.07);
    background-color: black;
    color: #ffffff;
}

.cards-4 {
    padding: 30px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-4 h4 {
    font-size: 14px;
    text-align: center;

}

.card-4 p {
    font-size: 14px;
    text-align: center;
}


.cover {
    width: 100%;
    height: 100%;
    display: flex;



}
.cover-img{
height: 100%;
width: 100%;
}

.icon {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.form-wrap{
    padding: 40px 50px;
}

.input-fields {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 195px;
    justify-content: center;

}

.input-fields-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 195px;

}



.text-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 195px;
    justify-content: center;
}



.form-sec {
    text-align: center;
    background:url(/assets/cover.png) no-repeat;
    background-position: center;
}

.form-text h2{
    font-size: 1.7rem;
}
.form-text p {
    font-size: 2.1rem
}
.form-sec input {
    padding: 20px;
    border-radius: 6px;
    border: none;
  
  
}


.btn-sub {
    background-color: #FFA62B;
    color: white;
    margin: 20px 195px;
    width: 190px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-sub:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

    #box-me {
        padding: 30px;
        border:none;
        border-radius:7px;
    }

.form-text {
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
    color: white;
}

.other-ser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-ser h2{
    font-size: 14px;
}








.international-ser ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    font-size: 1.3rem;
    
}
.international-ser ul li {
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: black;

}




.email-box {
    display: flex;

    margin-top: 30px;

}

.em-btn {
    background-color: #FFA62B;
    color: white;
    padding: 9px;
    border: 0px solid white;
    width: 109px;
    border-radius: 0px 7px 7px 0px;

}


.em-btn:hover {
    background-color: white;
    color: black;
}

.designed {
    padding: 10px;
    background-color: #181918;
  

}

.designed h2 {
    font-size: 1rem;
    font-weight: 150;
   

}

.in-box {
    border-radius: 7px 0px 0px 7px;
    padding: 10px;
    border: 1px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}





.contact-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
background-color: #252B42;
color: white;
padding: 40px;
    


}
.ul-contact ul {
    list-style: none;
}

.ul-contact ul li{
   padding: 5px 0;

}
.ul-contact ul li i{
    padding-right: 5px ;
}


.inner-txt p{
  margin: 20px;
  padding: 10px 30px;
    border-radius: 5px;
    font-size:1.22rem;
    line-height:1.5;
    color: white;
}


.nav-wrap{
    align-items: center;
    display: flex;
    gap: 20px;
}


#click{
    display: none;
 }
 #click-2{
    display: none;
 }




 .card-holder{
    display: flex;
    align-items: center;
width: 95%;
padding: 20px;
    gap: 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin: 20px 0;
    
  
 }
 p{
    padding: 10px 15px;
 }
 .cards p{
    padding: 26px 0;
 }
.our-img{
    width: 100%;
    height: 100%;
}
.designed{
    text-align: center;
}
.designed a{
    text-decoration: none;
    color: white;
   
}
 
 .img-ceo img{
    width: 100%;
  
    padding: 10px;
    border: 2px solid black;
    background-color: #252B42;
    border-radius: 5px;
 }
 .img-ceo-2 img{
    width: 350px;
  
    padding: 10px;
    border: 2px solid black;
    background-color: #252B42;
    border-radius: 5px;
 }
 .text-team h2,h3{
    text-align: center;
    border-top: 2px solid white;
 }
 #home{
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 5px;
 }

@media screen and (max-width:650px) {

   
    #click{
        display: none;

    }
    #click-2{
        display: flex;
    }
    #nav-btn {
        display: block;
    }

    .btns {
        display: flex;
        flex-direction: column;

        margin: 30px;
    }
/* .page-1{
    background-position: -600px 0px;
    background-size: cover;
} */

    .header-1 {
        margin: 10px;
    }

    .header-1 h2 {
        font-size: 1.4rem;
    }

    section {
        height: 100%;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2rem;
    }

    .text-2 h2 {

        font-size: 1.5rem;
    }

    .input-fields {
        display: flex;
        align-items: stretch;
        gap: 10px;
        margin: 10px;

        flex-direction: column;
    }

    .text-box {
        margin: 10px;
    }

    .main h1 {

        padding: 10px;
        text-align: center;
    }

    .cards {
        padding: 20px;

    }

    .page-1,
    .page-2,
    .page-3,
    .page-4 {
        padding: 40px 0;
    }

    .page-3 h2 {
        font-size: 1.5rem;
    }





    .form-text h2 {
        font-size: 1.4rem;
        margin: 10px;
    }

    .btn-sub {
        padding: 10px 20px;
        margin: 0;
width: 160px;
        margin-inline: 75px;

    }

   



    .text-2 p{
        font-size: 1rem;
    }

.nav-bar {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #252B42;
    height: 100vh;
    width: 100%;

}
#click:checked ~ .nav-bar{
    left: 0%;
}
.nav-bar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    text-align: center;
   
}
.nav-bar ul li a{
    color: white;
}
.nav-bar ul li  {
padding: 10px;
}

section{
    width: 100%;
}
.cards-4{
    width: 100%;
}
.card-holder{
 flex-direction: column;
}
.cards{
    width: 100%;
}
.card-holder p{
    text-align: justify;
}

}